
@font-face {
    font-family: 'Brothers';
    src: url('fonts/brothreg-020415006EmigreWebOnly.eot');
    src: url('fonts/brothreg-020415006EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('fonts/brothreg-020415006EmigreWebOnly.woff2') format('woff2'),
         url('fonts/brothreg-020415006EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('kube/kube.less');
@import url('less/custom-mixins.import.less');
@import url('less/less-media-queries.less');
@import url('http://fonts.googleapis.com/css?family=Pacifico');
@import url('fa/font-awesome.less');

/* =============================================================================
   Imports
   ========================================================================== */
// @import url('jvfloat.less');
// @import url('slick.less');
 @import url('agecheck.less');
// @import url('icomoon.less');

/* =============================================================================
   Layout Code
   ========================================================================== */
/*
 * Authors: Quinton Jason @quintonjasonjr
 *
 * --------------
 *
 * Based on Kube
 * Detailed information about this CSS: http://imperavi.com/kube/
 *


/* Fonts ===================================================================== */


/* ==|== CSS Styles, IDs & Elements ===================================================== */

body{ .relative; }

.thanks-html{ height: 100%; width: 100%; }
.thank-you-body{ .absolute; width: 100%; height: 100%; background-image: url(img/header-bg.jpg); background-size: cover;  
	header{ background: none; }
}


#verify, header{ background-image: url(img/header-bg.jpg); background-size: cover; 
	h1.brand{ font-size: 9.5em; line-height: .9; padding: .2em 0; color: rgba(255,255,255,.4); }
	.icon{ width: 32px; height: 32px; font-size: 1.5em; border-radius: 50%; padding-top: 5px; }
	.subhead{ font-size: 3.35em; }
	h2 .headlines{ font-size: 4em; }
	.btn{ font-size: 1.1em; .relative; margin-bottom: 1em;
		// &:before{ content:''; .absolute; .block; left: -2em; border-right-width: 1.5em; border-left-color: transparent; z-index: -1; border: 1.5em solid @main-gold; }
	}

}

#verify{ background:  linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(img/header-bg.jpg); background-size: cover; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 5; 
	#headline-container{ margin: 0; }
}

#header-divider{ width: 82%; height: auto; margin-bottom: .7em; }

#header-callout a.gold-bg{ box-shadow: 0 0 10px #1b1b1b; }

#header-social{ margin: 1em; }
#headline-container{ margin-top: 7em; text-shadow: 0 0 10px #1b1b1b; 
	.subhead{ font-size: 5.5em; line-height: 1 }
	.subhead.verify{ font-size: 3.5em; overflow: visible; }
	.headlines{ font-size: 6.5em; }
}

.list-flat li{ display: inline-block; }

#who{ background-image: url(img/gold-bg.jpg); background-size: cover; 
	& row{ border: 2px solid @off-white; }
	section{ padding: 3em 0; }
	.subhead{ font-size: 3em; line-height: 1; }

}
#slogan-wrapper{ background-image: url(img/mug-bg.svg); background-position: center; background-repeat: no-repeat; background-size: 45%; }

#slogan{ padding: 6em 0; 
	.headlines{ font-size: 2em; }
}

.gold-bg .icon.off-white, .btn.gold-bg, .icon.gold-bg{ .trans; 
	&:hover, &:focus{ background-color: darken(@main-gold, 13%); color: @off-white; }
	&[href="#who"]{ margin-right: 1em; }
}

#company-info{ padding: 2em 2em 2em 1em; }

#brand{ background-image:url(img/white-wash-bg.jpg); background-size: cover; 
	.brand{ text-indent: -5000px; font-size: 0;  width: 220px; height: 220px; .relative; top: -71px; left: 50%; margin-left: -110px; background:linear-gradient(rgba(250, 243, 233,1),rgba(250, 243, 233,1), rgba(250, 243, 233,0)); border-radius: 50%;
		a{ background-image: url(img/socraft-logo.svg); background-repeat: no-repeat; width: 80%; height: 100%; .block; margin: 0 auto; background-position: center; }
	}
	.replace{
		.headlines{ width: 80%; margin: 1em auto; line-height: 1.4; font-size: 140%; letter-spacing: 0; }
	}
}

#contact_form input{ background: #dedbd0; }

#footer-p-mobile{ .hide; }

#footer-wrapper{ background-image: url(img/footer-bg.jpg); background-size: cover; }
footer{
	.headlines{ line-height: 1; font-size: 140%; letter-spacing: 0; }
	row{ padding: 2em 0; }
	img{ max-height: 125px; }
	.list-flat a{ .block; border-radius: 50%; }
	& [cols="6"]{ padding: 0 5em; }
	.icon{ width: 32px; height: 32px; font-size: 1.5em; border-radius: 50%; padding-top: 5px;  }
	.btn{ font-family: @american; }
	.blue-bg{ width: 46%; min-width: 350px; margin: 0 auto;
		p.headlines{  padding: .5em; font-size: 1.5em; }
	}
	.btn-append{ border: 1px solid @main-dark-blue; }
	img.inline-block{ max-height: 11px; max-width: 22px; }
} 

#mailing-button:hover, #mailing-button:focus{ color: @off-white; background: darken(@main-dark-blue, 10%) }

#footer-cheers li:not(:last-child){ margin-right: .7em; }

#back-to-top{ position: fixed; right: 0; bottom: 0; z-index: 5; 
	a{ .block; padding: 1em; }
	.icon{ font-size: 1.5em; }
}

#verify-button{ .gold-bg; 
	&:hover{ background-color: darken(@main-gold, 13%); }
}

#verify-success{ color: @main-gold; }

/* ==|== Custom LESS Variables ===================================================== */

@pacifico: 'Pacifico', cursive;
@brothers: 'Brothers', sans-serif;
@gin: 'Brothers', sans-serif;
@american: 'American Typewriter', 'Courier New', Courier, Monaco, mono;

@main-gold: #B99A3F;
@main-dark-blue: #303748;

@off-white: #F9F3E9;

// @font-face{
// 	font-family: 'Brothers';
// 	src: url("fonts/brothbolalt-071211005EmigreWebOnly.woff") format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// }

/* ==|== Custom LESS Helpers ===================================================== */

.headlines{ font-family: @gin; line-height: .9; letter-spacing: .05em; }
.subhead{ font-family: @pacifico; font-weight: 400; }
.bodycopy{ font-family: @american; font-weight: 400; }

.no-margin{ margin: 0; }
.margin-bottom{ margin: 1.5em; }
.no-padding{ padding: 0; }
.upper{ text-transform: uppercase; }
.centered{ text-align: center; }
.italic{ font-style: italic; }
.no-bull{ list-style: none; }
.show{ display: block; }
.hide{ display: none; }
.inline-block{ display: inline-block; vertical-align: middle; }

.off-white{ color: @off-white; }
.gold{ color: @main-gold; }
.dark-blue{ color: @main-dark-blue; }

.gold-bg{ background-color: @main-gold; }
.off-white-bg{ background-color: @off-white; }
.blue-bg{ background-color: @main-dark-blue; }
.ribbon-bg{ background: transparent; background-image: url('img/clipped-button.svg'); background-size: cover;background-position: center; padding-bottom: 25px; padding-left: 42px; 
	&:hover, &:focus{ color: @off-white; background-color: transparent; }
}

.content-wrapper{ max-width: 1100px; margin: 0 auto; }

.verify{ overflow: hidden; }

.border-right{ border-right: 2px solid @off-white; @media @genericMobile{ border-right: none; border-bottom: 2px solid @off-white; } }
.blue-border-right{ border-right: 2px solid @main-dark-blue; }
.divider{ margin-bottom: 1.5em; }
.no-bg{ background: none; }

.replace{ margin-top: -7.5em; }
.big-margin{ margin-bottom: 5em; }

.desktop-hidden { .hide;  @media @genericMobile{ .show; } }
.mobile-hidden { .show;  @media @genericMobile{ .hide; } }

.vertical-center{ position: absolute; top: 50%; transform: translateY(-50%);}

/* ==|== Responsive Styles ===================================================== */

@media @largeScreenOne{
}

@media @largeScreenTwo{	
}

@media @largeScreenThree{	
}

@media @bpTwo{

}

@media @bpThree{
	#headline-container{
		.subhead{ font-size: 4.5em; }
		.headlines{ font-size: 5.5em; }
	}
	#header-callout a.gold-bg{ margin: 0 auto 1em; }
	footer .blue-bg{ width: 60%; }
}

@media @genericMobile{
	#header-callout{ margin-bottom: 6em; 
		// button{ .block; }
	}
	#who row{ margin: 0 2em; }
	#slogan-wrapper{ margin: 0; }
	#company-info{ margin: 0; }

	#footer-p-desktop{ .hide; }
	#footer-p-mobile{ display: inline-block; }
	#back-to-top{ .hide !important; }
}

@media @genericPhablet{
}

@media @genericPhone{
	#headline-container{
		.subhead{ font-size: 4em; }
		.headlines{ font-size: 4.5em; }
	}
	#who row{ margin: 0 1em; }
	footer [cols="6"]{ padding: 0 2em; }
	footer .blue-bg{ min-width: 100%; } 
}

