@import url('http://fonts.googleapis.com/css?family=Pacifico');
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@font-face {
  font-family: 'Brothers';
  src: url('fonts/brothreg-020415006EmigreWebOnly.eot');
  src: url('fonts/brothreg-020415006EmigreWebOnly.eot?#iefix') format('embedded-opentype'), url('fonts/brothreg-020415006EmigreWebOnly.woff2') format('woff2'), url('fonts/brothreg-020415006EmigreWebOnly.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/*
	Kube Framework 5
*/
/* =Reset
-----------------------------------------------------------------------------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img {
  box-sizing: content-box;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  vertical-align: top;
}
thead th,
thead td {
  font-weight: bold;
  vertical-align: bottom;
}
a img,
th img,
td img {
  vertical-align: top;
}
button,
input,
select,
textarea {
  margin: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
button {
  width: auto;
  overflow: visible;
}
input[type="reset"],
input[type="submit"],
input[type="file"],
input[type="radio"],
input[type="checkbox"],
select,
button {
  cursor: pointer;
}
button:active,
button:focus {
  outline: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="radio"],
input[type="checkbox"] {
  font-size: 110%;
  position: relative;
  margin-right: 3px;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
hr {
  display: block;
  box-sizing: content-box;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
img,
video,
audio,
embed,
object {
  max-width: 100%;
}
img,
video,
embed,
object {
  height: auto;
}
embed,
object {
  height: 100%;
}
img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
/* =Typography
-----------------------------------------------------------------------------*/
html {
  font-size: 62.5%;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  line-height: 24px;
  background: #ffffff;
  color: #202020;
}
/* =Links
-----------------------------------------------------------------------------*/
a {
  color: #256bc9;
}
a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: #e21e3b;
}
/* =Headings
-----------------------------------------------------------------------------*/
.title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #000000;
  text-rendering: optimizeLegibility;
}
.title,
h1 {
  margin-bottom: 16px;
}
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 8px;
}
.title,
h1,
h2,
h3,
h4 {
  margin-left: -1px;
}
.title {
  font-size: 4.8rem;
  line-height: 56px;
}
h1 {
  font-size: 3rem;
  line-height: 32px;
}
h2 {
  font-size: 2.4rem;
  line-height: 32px;
}
h3 {
  font-size: 2rem;
  line-height: 24px;
}
h4 {
  font-size: 1.8rem;
  line-height: 24px;
}
h5 {
  font-size: 1.6rem;
  line-height: 24px;
}
h6 {
  font-size: 1.5rem;
  line-height: 24px;
  text-transform: uppercase;
}
p + h1,
ul + h1,
ol + h1,
dl + h1,
blockquote + h1,
hr + h1,
pre + h1,
table + h1,
form + h1,
figure + h1,
address + h1,
p + h2,
ul + h2,
ol + h2,
dl + h2,
blockquote + h2,
hr + h2,
pre + h2,
table + h2,
form + h2,
figure + h2,
address + h2,
p + h3,
ul + h3,
ol + h3,
dl + h3,
blockquote + h3,
hr + h3,
pre + h3,
table + h3,
form + h3,
figure + h3,
address + h3,
p + h4,
ul + h4,
ol + h4,
dl + h4,
blockquote + h4,
hr + h4,
pre + h4,
table + h4,
form + h4,
figure + h4,
address + h4,
p + h5,
ul + h5,
ol + h5,
dl + h5,
blockquote + h5,
hr + h5,
pre + h5,
table + h5,
form + h5,
figure + h5,
address + h5,
p + h6,
ul + h6,
ol + h6,
dl + h6,
blockquote + h6,
hr + h6,
pre + h6,
table + h6,
form + h6,
figure + h6,
address + h6 {
  margin-top: 24px;
}
/* =Line height and margin
-----------------------------------------------------------------------------*/
ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0 0 0 24px;
}
ol ol li {
  list-style-type: lower-alpha;
}
ol ol ol li {
  list-style-type: lower-roman;
}
p,
ul,
ol,
dl,
blockquote,
hr,
pre,
table,
fieldset,
figure,
address,
output {
  margin-bottom: 16px;
}
/* =Lead
-----------------------------------------------------------------------------*/
.lead {
  font-size: 120%;
  line-height: 28px;
}
/* =Quote
-----------------------------------------------------------------------------*/
blockquote {
  font-style: italic;
  font-size: 120%;
  line-height: 28px;
  padding-left: 24px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
blockquote cite {
  font-size: 86%;
  font-weight: normal;
  line-height: 20px;
}
/* =Address
-----------------------------------------------------------------------------*/
address {
  font-style: normal;
}
/* =Definition list
-----------------------------------------------------------------------------*/
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 24px;
}
/* =Text-level
-----------------------------------------------------------------------------*/
cite {
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
}
small {
  font-size: 86%;
  line-height: 20px;
}
s,
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #202020;
  cursor: help;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
sub,
sup {
  font-size: 74%;
  line-height: 0;
  position: relative;
  margin-left: .2rem;
}
sup {
  top: -0.4rem;
}
sub {
  bottom: -0.2rem;
}
figcaption {
  margin: .3rem 0;
  font-size: 86%;
  font-style: italic;
}
ins,
u {
  text-decoration: underline;
}
mark {
  background-color: #ffd61e;
  color: #202020;
  text-decoration: none;
}
time {
  font-size: 74%;
}
/* =Code
-----------------------------------------------------------------------------*/
pre,
code,
kbd,
samp,
var,
output {
  font-size: 90%;
  font-style: normal;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
}
pre {
  font-size: 90%;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.9);
  overflow: auto;
  background: rgba(0, 0, 0, 0.03);
  padding: 24px;
  word-wrap: normal;
}
td pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
mark,
code,
samp,
kbd {
  padding: .2rem .4rem;
  display: inline-block;
  line-height: 1;
  border-radius: 2px;
}
code {
  background: rgba(0, 0, 0, 0.07);
}
pre code {
  font-size: 100%;
  border: none;
  padding: 0;
  background: none;
  line-height: 24px;
}
var {
  color: rgba(0, 0, 0, 0.5);
}
samp {
  background: #46a9fc;
  color: rgba(255, 255, 255, 0.95);
}
kbd {
  background: #202020;
  color: rgba(255, 255, 255, 0.85);
  white-space: nowrap;
}
/* =Grid
-----------------------------------------------------------------------------*/
row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  row {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
row column {
  margin: 0;
  padding: 0;
  margin-right: 24px;
}
row column:last-child {
  margin-right: 0;
}
row[end] {
  margin-bottom: 0;
}
row[split] column {
  margin-right: 0;
}
row[centered] {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
row[around] {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
row[between] {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
column[cols="1"] {
  width: 8.33333333%;
}
column[cols="2"] {
  width: 16.66666667%;
}
column[cols="3"] {
  width: 25%;
}
column[cols="4"] {
  width: 33.33333333%;
}
column[cols="5"] {
  width: 41.66666667%;
}
column[cols="6"] {
  width: 50%;
}
column[cols="7"] {
  width: 58.33333333%;
}
column[cols="8"] {
  width: 66.66666667%;
}
column[cols="9"] {
  width: 75%;
}
column[cols="10"] {
  width: 83.33333333%;
}
column[cols="11"] {
  width: 91.66666667%;
}
column[cols="12"] {
  width: 100%;
}
column[offset="1"] {
  margin-left: calc(9.53333333%);
}
column[offset="2"] {
  margin-left: calc(17.86666667%);
}
column[offset="3"] {
  margin-left: calc(26.2%);
}
column[offset="4"] {
  margin-left: calc(34.53333333%);
}
column[offset="5"] {
  margin-left: calc(42.86666667%);
}
column[offset="6"] {
  margin-left: calc(51.2%);
}
column[offset="7"] {
  margin-left: calc(59.53333333%);
}
column[offset="8"] {
  margin-left: calc(67.86666667%);
}
column[offset="9"] {
  margin-left: calc(76.2%);
}
column[offset="10"] {
  margin-left: calc(84.53333333%);
}
column[offset="11"] {
  margin-left: calc(92.86666667%);
}
.width-1 {
  width: 8.33333333%;
}
.width-2 {
  width: 16.66666667%;
}
.width-3 {
  width: 25%;
}
.width-4 {
  width: 33.33333333%;
}
.width-5 {
  width: 41.66666667%;
}
.width-6 {
  width: 50%;
}
.width-7 {
  width: 58.33333333%;
}
.width-8 {
  width: 66.66666667%;
}
.width-9 {
  width: 75%;
}
.width-10 {
  width: 83.33333333%;
}
.width-11 {
  width: 91.66666667%;
}
.width-12 {
  width: 100%;
}
@media (max-width: 768px) {
  row {
    margin-bottom: 0;
  }
  row [offset] {
    margin-left: 0;
  }
  row column[cols] {
    margin-right: 0;
    width: 100%;
    margin-bottom: 24px;
  }
  row row column:last-child {
    margin-bottom: 0;
  }
  .width-1,
  .width-2,
  .width-3,
  .width-4,
  .width-5,
  .width-6,
  .width-7,
  .width-8,
  .width-9,
  .width-10,
  .width-11,
  .width-12 {
    width: 100%;
  }
}
/* =Blocks
-----------------------------------------------------------------------------*/
blocks {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -2.12765957%;
}
blocks > div {
  margin-left: 2.12765957%;
  margin-bottom: 24px;
}
blocks[cols="2"] > div {
  width: 47.87234043%;
}
blocks[cols="3"] > div {
  width: 31.17234043%;
}
blocks[cols="4"] > div {
  width: 22.87234043%;
}
blocks[cols="5"] > div {
  width: 17.87234043%;
}
blocks[cols="6"] > div {
  width: 14.47234043%;
}
@media (max-width: 768px) {
  blocks {
    display: block;
    margin-left: 0;
  }
  blocks[cols="2"] > div,
  blocks[cols="3"] > div,
  blocks[cols="4"] > div,
  blocks[cols="5"] > div,
  blocks[cols="6"] > div {
    width: 100%;
    margin-left: 0;
  }
}
/* =Tables
-----------------------------------------------------------------------------*/
table {
  max-width: 100%;
  width: 100%;
  empty-cells: show;
}
table caption {
  text-transform: uppercase;
  padding: 0;
  color: #000;
  font-size: 11px;
  font-weight: bold;
}
table th,
table td {
  font-size: 94%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  padding: 16px;
  padding-bottom: 15px;
}
table th:first-child,
table td:first-child {
  padding-left: 0;
}
table th:last-child,
table td:last-child {
  padding-right: 0;
}
table tfoot th,
table tfoot td {
  color: rgba(0, 0, 0, 0.5);
}
table.table-bordered {
  margin-top: -1px;
}
table.table-bordered td,
table.table-bordered th {
  border: 1px solid rgba(0, 0, 0, 0.03);
}
table.table-bordered caption {
  padding-left: 16px;
}
table.table-bordered td:first-child,
table.table-stripped td:first-child,
table.table-bordered th:first-child,
table.table-stripped th:first-child {
  padding-left: 16px;
}
table.table-bordered td:last-child,
table.table-stripped td:last-child,
table.table-bordered th:last-child,
table.table-stripped th:last-child {
  padding-right: 16px;
}
table.table-simple td,
table.table-simple th,
table.table-simple caption {
  border: none;
  padding-left: 0;
}
table.table-simple td,
table.table-simple th {
  padding-bottom: 16px;
}
table.table-flat td,
table.table-flat th,
table.table-flat caption {
  border: none;
  padding: 0;
}
table.table-stroked td,
table.table-stroked th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}
table.table-stripped tbody tr:nth-child(odd) td {
  background: #f8f8f8;
}
@media (max-width: 768px) {
  table.table-responsive {
    border: 0;
  }
  table.table-responsive thead {
    display: none;
  }
  table.table-responsive tr {
    display: block;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }
  table.table-responsive td,
  table.table-responsive td:last-child,
  table.table-responsive td:first-child {
    display: block;
    text-align: right;
    padding: 10px;
  }
  table.table-responsive.table-flat td {
    padding: 0;
  }
  table.table-responsive.table-bordered td:last-child,
  table.table-responsive td:last-child {
    border-bottom: 0;
  }
  table.table-responsive td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-size: 86%;
    font-weight: bold;
    line-height: 2;
  }
}
/* =Forms
-----------------------------------------------------------------------------*/
form {
  margin-bottom: 24px;
}
select[multiple="multiple"],
textarea {
  width: 100%;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  padding: 0.9rem 1rem;
  line-height: 1;
  height: 40px;
  outline: none;
  background: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.85);
}
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="text"][disabled],
input[type="tel"][disabled],
input[type="url"][disabled],
input[type="password"][disabled],
textarea[disabled],
select[disabled] {
  resize: none;
  opacity: 0.55;
  cursor: default;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  -webkit-appearance: none;
}
select[multiple],
textarea {
  height: auto;
  line-height: 1.5;
}
textarea {
  font-size: 15px;
}
textarea:focus,
select:focus,
input:focus {
  outline: none;
  background: #ffffff;
  border: 1px solid #222222;
}
fieldset {
  padding: 31px 32px;
  margin-bottom: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
fieldset *:last-child {
  margin-bottom: 0 !important;
}
legend {
  font-weight: 500;
  font-size: 86%;
  text-transform: uppercase;
  padding: 0 1em;
  margin-left: -1em;
  top: 2px;
  position: relative;
  line-height: 0;
}
.forms section {
  display: block;
}
.forms section,
.forms p {
  margin-bottom: 24px;
}
.forms textarea,
.forms select,
.forms input[type="email"],
.forms input[type="number"],
.forms input[type="search"],
.forms input[type="text"],
.forms input[type="tel"],
.forms input[type="url"],
.forms input[type="password"] {
  width: 100%;
  display: block;
}
.forms label {
  font-size: 94%;
  display: block;
}
.forms label.checkbox {
  text-transform: none;
  font-weight: normal;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
}
.forms .label-top {
  padding-top: 24px;
}
.forms .checkbox-list {
  display: block;
}
.forms .checkbox-list label {
  font-size: inherit;
  color: inherit;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 16px;
  text-transform: none;
  font-weight: normal;
}
.forms .checkbox-list-vertical .checkbox {
  margin-bottom: 8px;
}
.forms .checkbox-list-vertical .checkbox:last-child {
  margin-bottom: 0;
}
.forms input.width-1,
.forms textarea.width-1,
.forms select.width-1 {
  width: 8.33333333%;
}
.forms input.width-2,
.forms textarea.width-2,
.forms select.width-2 {
  width: 16.66666667%;
}
.forms input.width-3,
.forms textarea.width-3,
.forms select.width-3 {
  width: 25%;
}
.forms input.width-4,
.forms textarea.width-4,
.forms select.width-4 {
  width: 33.33333333%;
}
.forms input.width-5,
.forms textarea.width-5,
.forms select.width-5 {
  width: 41.66666667%;
}
.forms input.width-6,
.forms textarea.width-6,
.forms select.width-6 {
  width: 50%;
}
.forms input.width-7,
.forms textarea.width-7,
.forms select.width-7 {
  width: 58.33333333%;
}
.forms input.width-8,
.forms textarea.width-8,
.forms select.width-8 {
  width: 66.66666667%;
}
.forms input.width-9,
.forms textarea.width-9,
.forms select.width-9 {
  width: 75%;
}
.forms input.width-10,
.forms textarea.width-10,
.forms select.width-10 {
  width: 83.33333333%;
}
.forms input.width-11,
.forms textarea.width-11,
.forms select.width-11 {
  width: 91.66666667%;
}
.forms input.width-12,
.forms textarea.width-12,
.forms select.width-12 {
  width: 100%;
}
.forms.form-inline textarea,
.forms .form-inline textarea,
.forms.form-inline select,
.forms .form-inline select,
.forms.form-inline input[type="email"],
.forms .form-inline input[type="email"],
.forms.form-inline input[type="number"],
.forms .form-inline input[type="number"],
.forms.form-inline input[type="search"],
.forms .form-inline input[type="search"],
.forms.form-inline input[type="text"],
.forms .form-inline input[type="text"],
.forms.form-inline input[type="tel"],
.forms .form-inline input[type="tel"],
.forms.form-inline input[type="url"],
.forms .form-inline input[type="url"],
.forms.form-inline input[type="password"],
.forms .form-inline input[type="password"],
.forms.form-inline .tools-select,
.forms .form-inline .tools-select {
  width: auto;
  display: inline-block;
}
@media (max-width: 768px) {
  .forms .label-top {
    padding-top: 0;
  }
  .forms input.width-1,
  .forms textarea.width-1,
  .forms select.width-1,
  .forms input.width-2,
  .forms textarea.width-2,
  .forms select.width-2,
  .forms input.width-3,
  .forms textarea.width-3,
  .forms select.width-3,
  .forms input.width-4,
  .forms textarea.width-4,
  .forms select.width-4,
  .forms input.width-5,
  .forms textarea.width-5,
  .forms select.width-5,
  .forms input.width-6,
  .forms textarea.width-6,
  .forms select.width-6,
  .forms input.width-7,
  .forms textarea.width-7,
  .forms select.width-7,
  .forms input.width-8,
  .forms textarea.width-8,
  .forms select.width-8,
  .forms input.width-9,
  .forms textarea.width-9,
  .forms select.width-9,
  .forms input.width-10,
  .forms textarea.width-10,
  .forms select.width-10,
  .forms input.width-11,
  .forms textarea.width-11,
  .forms select.width-11,
  .forms input.width-12,
  .forms textarea.width-12,
  .forms select.width-12 {
    width: 100%;
  }
}
.desc {
  text-transform: none;
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
}
ul.desc {
  margin-bottom: 8px;
}
span.desc {
  margin-left: 4px;
  line-height: 20px;
}
.error,
.success {
  text-transform: none;
  font-weight: normal;
  font-size: 12px;
  display: inline-block;
}
span.error,
span.success {
  margin-left: .4rem;
}
input.input-error,
textarea.input-error,
select.input-error,
.input-error {
  margin-top: -1px;
  background: none;
  background-color: rgba(209, 17, 73, 0.1);
  border: 1px solid #d11149;
}
input.input-success,
textarea.input-success,
select.input-success,
.input-success {
  margin-top: -1px;
  background: none;
  background-color: rgba(10, 135, 84, 0.1);
  border: 1px solid #0a8754;
}
input.input-big {
  font-size: 1.8rem;
  padding: 1.5rem 1.2rem;
  height: 56px;
}
select.select-big {
  font-size: 1.8rem;
  height: 56px;
  padding: 6px 10px;
}
input.input-small {
  font-size: 1.2rem;
  padding: 0.7rem 1rem;
  height: 32px;
}
select.select-small {
  font-size: 1.2rem;
  height: 32px;
  padding: 6px 10px;
}
.input-append,
.input-prepend {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 24px;
}
.input-append input,
.input-prepend input {
  flex: 1;
  margin-bottom: 0 !important;
}
.input-append span,
.input-prepend span {
  -webkit-flex-shrink: 0;
  display: block;
  font-weight: normal;
  background-color: #efefef;
  margin: 0;
  padding: 0 1rem;
  color: rgba(0, 0, 0, 0.6);
  font-size: 86%;
  line-height: 40px;
  white-space: nowrap;
}
.input-append span {
  position: relative;
  z-index: 1;
  border-left: none;
  border-radius: 0 2px 2px 0;
}
.input-append input {
  border-radius: 2px 0 0 2px;
}
.input-prepend span {
  border-right: none;
  border-radius: 2px 0 0 2px;
}
.input-prepend input {
  border-radius: 0 2px 2px 0;
}
.btn-append {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.btn-append button,
.btn-append .btn {
  flex: 1;
}
/* =Buttons
-----------------------------------------------------------------------------*/
.btn,
button {
  display: inline-block;
  vertical-align: top;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  white-space: nowrap;
  padding: 0 32px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  outline: none;
  margin: 0;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  cursor: pointer;
  color: #000000;
  background: #e5e5e5;
}
.btn:hover,
button:hover {
  background-color: #ededed;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
.btn::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.btn[disabled],
button[disabled] {
  cursor: default;
  box-shadow: none;
  opacity: 0.4;
}
.btn[disabled]:hover,
button[disabled]:hover {
  background: #e5e5e5;
  color: #000000;
  text-decoration: none;
}
.btn[outline],
button[outline] {
  padding: 0 31px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.6);
}
.btn[outline]:hover,
button[outline]:hover {
  border-color: #000000;
  color: #000000;
  text-decoration: none;
}
.btn[outline][disabled],
button[outline][disabled] {
  cursor: default;
  box-shadow: none;
  opacity: 0.4;
}
.btn[outline][disabled]:hover,
button[outline][disabled]:hover {
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: none;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
.btn[round],
button[round] {
  border-radius: 50px;
}
.btn[small],
button[small] {
  font-size: 1.2rem;
  padding: 0 20px;
  height: 32px;
  line-height: 32px;
}
.btn[small][outline],
button[small][outline] {
  padding: 0 19px;
}
.btn[big],
button[big] {
  font-size: 1.8rem;
  padding: 0 48px;
  height: 56px;
  line-height: 56px;
}
.btn[big][outline],
button[big][outline] {
  padding: 0 47px;
}
.btn[upper],
button[upper] {
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 0 32px;
  letter-spacing: .1em;
}
.btn[upper][outline],
button[upper][outline] {
  padding: 0 31px;
}
.btn[upper][small],
button[upper][small] {
  font-size: 1rem;
  padding: 0 20px;
}
.btn[upper][small][outline],
button[upper][small][outline] {
  padding: 0 19px;
}
.btn[upper][big],
button[upper][big] {
  font-size: 1.4rem;
  padding: 0 48px;
}
.btn[upper][big][outline],
button[upper][big][outline] {
  padding: 0 47px;
}
.btn[type="black"],
button[type="black"] {
  color: rgba(255, 255, 255, 0.9);
  background: #000000;
}
.btn[type="black"]:hover,
button[type="black"]:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: #333333;
}
.btn[type="black"][disabled]:hover,
button[type="black"][disabled]:hover {
  color: rgba(255, 255, 255, 0.9);
  background: #000000;
}
.btn[type="black"][outline],
button[type="black"][outline] {
  background: none;
  color: #000000;
  border-color: #000000;
}
.btn[type="black"][outline]:hover,
button[type="black"][outline]:hover {
  background: #000000;
  border-color: #000000;
  color: rgba(255, 255, 255, 0.9);
}
.btn[type="black"][outline][disabled]:hover,
button[type="black"][outline][disabled]:hover {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn[type="primary"],
button[type="primary"] {
  color: rgba(255, 255, 255, 0.9);
  background: #2f77d1;
}
.btn[type="primary"]:hover,
button[type="primary"]:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: #5892da;
}
.btn[type="primary"][disabled]:hover,
button[type="primary"][disabled]:hover {
  color: rgba(255, 255, 255, 0.9);
  background: #2f77d1;
}
.btn[type="primary"][outline],
button[type="primary"][outline] {
  background: none;
  color: #2f77d1;
  border-color: #2f77d1;
}
.btn[type="primary"][outline]:hover,
button[type="primary"][outline]:hover {
  background: #2f77d1;
  border-color: #2f77d1;
  color: rgba(255, 255, 255, 0.9);
}
.btn[type="primary"][outline][disabled]:hover,
button[type="primary"][outline][disabled]:hover {
  background: none;
  border-color: #2f77d1;
  color: #2f77d1;
}
.btn[type="white"],
button[type="white"] {
  background: #fff;
}
.btn[type="white"]:hover,
button[type="white"]:hover {
  opacity: 0.85;
}
.btn[type="white"][outline],
button[type="white"][outline] {
  background: none;
  color: #fff;
  border-color: rgba(255, 255, 255, 0.9);
}
.btn[type="white"][outline]:hover,
button[type="white"][outline]:hover {
  opacity: 1;
  color: #000;
  border-color: #ffffff;
  background: #fff;
}
.btn-group {
  display: inline-block;
  vertical-align: bottom;
}
.btn-group:after {
  content: "";
  display: block;
  clear: both;
}
.btn-group .btn,
.btn-group button {
  float: left;
  margin-left: -1px;
}
.btn-group .btn:first-child,
.btn-group button:first-child {
  border-radius: 2px 0 0 2px;
}
.btn-group .btn:last-child,
.btn-group button:last-child {
  border-radius: 0 2px 2px 0;
}
/* =Labels
-----------------------------------------------------------------------------*/
.label,
.badge {
  font-size: 11px;
  font-weight: normal;
  display: inline;
  line-height: 1;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2px;
  padding: 0.2rem 0.7rem;
  position: relative;
}
.label a,
.badge a {
  color: #000;
  text-decoration: none;
}
.label a:hover,
.badge a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: rgba(0, 0, 0, 0.6);
}
.label:empty,
.badge:empty {
  display: none;
}
.label[bold],
.badge[bold] {
  font-weight: bold;
}
.label[outline],
.badge[outline] {
  background: none;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.1rem 0.6rem;
}
.label[outline][bold],
.badge[outline][bold] {
  border-width: 2px;
  padding: 0rem 0.5rem;
}
.label.label-default,
.badge.label-default,
.label.badge-default,
.badge.badge-default {
  background: #e4e4e4;
  color: #000000;
}
.label.label-default[outline],
.badge.label-default[outline],
.label.badge-default[outline],
.badge.badge-default[outline] {
  background: none;
  color: #e4e4e4;
  border-color: #e4e4e4;
}
.label.label-default a,
.badge.label-default a,
.label.badge-default a,
.badge.badge-default a {
  color: #000000;
  text-decoration: none;
}
.label.label-default a:hover,
.badge.label-default a:hover,
.label.badge-default a:hover,
.badge.badge-default a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: rgba(0, 0, 0, 0.6);
}
.label.label-primary,
.badge.label-primary,
.label.badge-primary,
.badge.badge-primary {
  background: #2f77d1;
  color: #ffffff;
}
.label.label-primary[outline],
.badge.label-primary[outline],
.label.badge-primary[outline],
.badge.badge-primary[outline] {
  background: none;
  color: #2f77d1;
  border-color: #2f77d1;
}
.label.label-primary a,
.badge.label-primary a,
.label.badge-primary a,
.badge.badge-primary a {
  color: #ffffff;
  text-decoration: none;
}
.label.label-primary a:hover,
.badge.label-primary a:hover,
.label.badge-primary a:hover,
.badge.badge-primary a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: rgba(255, 255, 255, 0.6);
}
.label.label-error,
.badge.label-error,
.label.badge-error,
.badge.badge-error {
  background: #d11149;
  color: #ffffff;
}
.label.label-error[outline],
.badge.label-error[outline],
.label.badge-error[outline],
.badge.badge-error[outline] {
  background: none;
  color: #d11149;
  border-color: #d11149;
}
.label.label-error a,
.badge.label-error a,
.label.badge-error a,
.badge.badge-error a {
  color: #ffffff;
  text-decoration: none;
}
.label.label-error a:hover,
.badge.label-error a:hover,
.label.badge-error a:hover,
.badge.badge-error a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: rgba(255, 255, 255, 0.6);
}
.label.label-success,
.badge.label-success,
.label.badge-success,
.badge.badge-success {
  background: #0a8754;
  color: #ffffff;
}
.label.label-success[outline],
.badge.label-success[outline],
.label.badge-success[outline],
.badge.badge-success[outline] {
  background: none;
  color: #0a8754;
  border-color: #0a8754;
}
.label.label-success a,
.badge.label-success a,
.label.badge-success a,
.badge.badge-success a {
  color: #ffffff;
  text-decoration: none;
}
.label.label-success a:hover,
.badge.label-success a:hover,
.label.badge-success a:hover,
.badge.badge-success a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: rgba(255, 255, 255, 0.6);
}
.label.label-warning,
.badge.label-warning,
.label.badge-warning,
.badge.badge-warning {
  background: #f4d31e;
  color: #000000;
}
.label.label-warning[outline],
.badge.label-warning[outline],
.label.badge-warning[outline],
.badge.badge-warning[outline] {
  background: none;
  color: #f4d31e;
  border-color: #f4d31e;
}
.label.label-warning a,
.badge.label-warning a,
.label.badge-warning a,
.badge.badge-warning a {
  color: #000000;
  text-decoration: none;
}
.label.label-warning a:hover,
.badge.label-warning a:hover,
.label.badge-warning a:hover,
.badge.badge-warning a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: rgba(0, 0, 0, 0.6);
}
.label.label-black,
.badge.label-black,
.label.badge-black,
.badge.badge-black {
  background: #000000;
  color: #ffffff;
}
.label.label-black[outline],
.badge.label-black[outline],
.label.badge-black[outline],
.badge.badge-black[outline] {
  background: none;
  color: #000000;
  border-color: #000000;
}
.label.label-black a,
.badge.label-black a,
.label.badge-black a,
.badge.badge-black a {
  color: #ffffff;
  text-decoration: none;
}
.label.label-black a:hover,
.badge.label-black a:hover,
.label.badge-black a:hover,
.badge.badge-black a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: rgba(255, 255, 255, 0.6);
}
.label.label-white,
.badge.label-white,
.label.badge-white,
.badge.badge-white {
  background: #ffffff;
  color: #000000;
}
.label.label-white[outline],
.badge.label-white[outline],
.label.badge-white[outline],
.badge.badge-white[outline] {
  background: none;
  color: #ffffff;
  border-color: #ffffff;
}
.label.label-white a,
.badge.label-white a,
.label.badge-white a,
.badge.badge-white a {
  color: #000000;
  text-decoration: none;
}
.label.label-white a:hover,
.badge.label-white a:hover,
.label.badge-white a:hover,
.badge.badge-white a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: rgba(0, 0, 0, 0.6);
}
.badge {
  border-radius: 30px;
  min-width: 17px;
}
.title .label,
.large .label,
h1 .label,
h2 .label,
h3 .label,
h4 .label,
h5 .label,
h6 .label,
.title .badge,
.large .badge,
h1 .badge,
h2 .badge,
h3 .badge,
h4 .badge,
h5 .badge,
h6 .badge {
  vertical-align: middle;
}
h3 .label,
h4 .label,
h5 .label,
h3 .badge,
h4 .badge,
h5 .badge {
  top: -1px;
}
h6 .label,
h6 .badge {
  top: -2px;
}
/* =Messages
-----------------------------------------------------------------------------*/
.message {
  border-radius: 2px;
  display: none;
  position: fixed;
  z-index: 2000;
  top: 16px;
  right: 16px;
  max-width: 360px;
  line-height: 1.45;
  font-size: 94%;
  padding: 24px 36px;
  color: rgba(0, 0, 0, 0.9);
}
.message.message-line {
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding-right: 200px;
  max-width: none;
  border-radius: 0;
}
.message.message-line footer {
  position: absolute;
  top: 0;
  right: 2rem;
}
.message ul,
.message ol {
  margin-top: 8px;
  margin-bottom: 0;
}
.message footer {
  margin-top: 8px;
}
.message a {
  font-weight: bold;
}
.message.message-primary,
.message.message-error,
.message.message-success {
  color: rgba(255, 255, 255, 0.9);
}
.message.message-primary a,
.message.message-error a,
.message.message-success a {
  color: rgba(255, 255, 255, 0.9);
}
.message.message-primary a:hover,
.message.message-error a:hover,
.message.message-success a:hover {
  color: rgba(255, 255, 255, 0.7);
}
.message.message-primary {
  background: #2f77d1;
}
.message.message-error {
  background: #d11149;
}
.message.message-warning {
  background: #f4d31e;
}
.message.message-success {
  background: #0a8754;
}
/* =Alerts
-----------------------------------------------------------------------------*/
.alert {
  position: relative;
  padding: 12px 24px;
  padding-right: 32px;
  line-height: 24px;
  font-size: 94%;
  color: #000000;
  display: block;
  font-weight: normal;
  border-radius: 2px;
  margin-bottom: 24px;
}
.alert.alert-primary {
  color: #2f77d1;
  background-color: rgba(47, 119, 209, 0.15);
}
.alert.alert-primary a,
.alert.alert-primary h5 {
  color: #2f77d1;
}
.alert.alert-error {
  color: #d11149;
  background-color: rgba(209, 17, 73, 0.15);
}
.alert.alert-error a,
.alert.alert-error h5 {
  color: #d11149;
}
.alert.alert-warning {
  color: #bca109;
  background-color: rgba(244, 211, 30, 0.23);
}
.alert.alert-warning a,
.alert.alert-warning h5 {
  color: #bca109;
}
.alert.alert-success {
  color: #0a8754;
  background-color: rgba(10, 135, 84, 0.13);
}
.alert.alert-success a,
.alert.alert-success h5 {
  color: #0a8754;
}
.alert a {
  font-weight: bold;
}
.alert a:hover {
  color: #000;
}
.alert span.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5rem 1rem;
  opacity: .6;
  cursor: pointer;
}
.alert span.close:hover {
  opacity: 1;
}
/* =Breadcrumbs
-----------------------------------------------------------------------------*/
.breadcrumb {
  margin: 0;
  list-style: none;
  margin-bottom: 24px;
  font-size: 86%;
  color: rgba(0, 0, 0, 0.5);
}
.breadcrumb:after {
  content: "";
  display: block;
  clear: both;
}
.breadcrumb li {
  float: left;
}
.breadcrumb a {
  position: relative;
  margin-right: 8px;
  padding-right: 13px;
  color: #000;
  text-decoration: none;
}
.breadcrumb a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: underline;
}
.breadcrumb a:before {
  position: absolute;
  top: -5px;
  right: 0;
  content: " > ";
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
}
.breadcrumb.breadcrumb-path a:before {
  content: " / ";
  top: -4px;
}
.breadcrumb span,
.breadcrumb a.active:hover {
  text-decoration: none;
  cursor: text;
  color: rgba(0, 0, 0, 0.4);
}
/* =Pagination
-----------------------------------------------------------------------------*/
.pagination {
  list-style: none;
  margin: 0;
  margin-left: 2px;
  margin-bottom: 24px;
  font-size: 94%;
}
.pagination:after {
  content: "";
  display: block;
  clear: both;
}
.pagination li {
  float: left;
}
.pagination a,
.pagination span {
  padding: 4px 8px;
  line-height: 24px;
  margin-right: 2px;
  border-radius: 2px;
  color: #000;
  text-decoration: none;
}
.pagination span,
.pagination a.active,
.pagination a.active:hover {
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.1);
  cursor: text;
}
.pagination a:focus,
.pagination a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
}
.pagination.centered {
  text-align: center;
}
.pagination.centered li {
  float: none;
  display: inline-block;
}
/* =Helpers
-----------------------------------------------------------------------------*/
.group:after {
  content: "";
  display: block;
  clear: both;
}
.hide {
  display: none;
}
.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
.centered {
  margin: auto;
}
.highlight {
  background-color: #f4f4f4;
}
.big {
  font-size: 120%;
}
.small {
  font-size: 86%;
}
.smaller {
  font-size: 74%;
}
p.small,
ul.small,
ol.small,
dl.small,
blockquote.small,
hr.small,
pre.small,
table.small,
form.small,
fieldset.small,
figure.small,
address.small {
  line-height: 20px;
}
p.smaller,
ul.smaller,
ol.smaller,
dl.smaller,
blockquote.smaller,
hr.smaller,
pre.smaller,
table.smaller,
form.smaller,
fieldset.smaller,
figure.smaller,
address.smaller {
  line-height: 16px;
}
p.big,
ul.big,
ol.big,
dl.big,
blockquote.big,
hr.big,
pre.big,
table.big,
form.big,
fieldset.big,
figure.big,
address.big {
  line-height: 28px;
}
.nowrap,
.nowrap td {
  white-space: nowrap;
}
.req {
  font-weight: bold;
  color: #d11149;
  font-size: 1.1em;
  text-transform: none;
}
.error {
  color: #d11149;
}
.success {
  color: #0a8754;
}
.text-centered {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left !important;
}
.start {
  margin-top: 0 !important;
}
.last {
  margin-right: 0 !important;
}
.end {
  margin-bottom: 0 !important;
}
.normal {
  font-weight: normal !important;
}
.light {
  font-weight: 300 !important;
}
.thin {
  font-weight: 100 !important;
}
.bold {
  font-weight: bold !important;
}
.italic {
  font-style: italic !important;
}
.upper {
  text-transform: uppercase;
}
.list-flat {
  margin-left: 0;
  list-style: none;
}
.muted {
  color: rgba(0, 0, 0, 0.5);
}
.soft-muted {
  color: rgba(0, 0, 0, 0.7);
}
.color-black {
  color: #000000;
}
a.color-black:hover {
  color: rgba(0, 0, 0, 0.6);
}
.color-white {
  color: #ffffff;
}
a.color-white:hover {
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 768px) {
  .hide-for-small {
    display: none;
  }
}
@media (min-width: 768px) {
  .show-for-small {
    display: none;
  }
  .left {
    float: none;
    float: left;
  }
  .right {
    float: none;
    float: right;
  }
}
@media print {
  .hide-for-print {
    display: none !important;
  }
  .show-for-print {
    display: block !important;
  }
}
/* TYPO */
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.hide-text {
  text-indent: -5000px;
  font-size: 0;
}
.pointer {
  cursor: pointer;
}
/* Layout */
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.last {
  border: 0!important;
  margin-right: 0;
}
.btn {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.flex-wrap-center {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
}
.flex-wrap-left {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
}
.flex-wrap-right {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
}
.flex-wrap-center-vertical {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
}
.vertically-bottom {
  vertical-align: bottom;
}
.vertically-centered {
  display: table-cell;
  vertical-align: middle;
}
/* BACKGROUNDS */
.solid {
  background: white;
  color: white;
}
.solid:hover {
  background: white;
  color: white;
}
.top-center {
  background-position: center top;
}
.cover {
  background-size: cover;
}
.no-repeat {
  background-repeat: no-repeat;
}
.no-bg {
  background: transparent !important;
}
.grayscale {
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
.no-grayscale {
  -moz-filter: none;
  -o-filter: none;
  -webkit-filter: none;
  filter: none;
}
/* POSITIONING */
.block {
  display: block;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.bottom-left {
  bottom: 0;
  left: 0;
}
.bottom-right {
  bottom: 7px;
  right: 10px;
}
.desktop-hidden {
  display: none;
}
@media only screen and (max-width:768px) {
  .desktop-hidden {
    display: block;
  }
}
.mobile-hidden {
  display: block;
}
@media only screen and (max-width:768px) {
  .mobile-hidden {
    display: none;
  }
}
/* TRANS */
.spinner {
  -webkit-animation: spinner;
  -o-animation: spinner;
  animation: spinner;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(360deg);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes spinner {
  0% {
    transform: rotate(360deg);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@-o-keyframes spinner {
  0% {
    transform: rotate(360deg);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
/* =============================================
   LESS Media Queries
   compiled by John Gibby - @thatgibbyguy
   with help from Sydney Stevens - @sstev23
   ============================================= */
/*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.icon-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x {
  font-size: 2em;
}
.icon-3x {
  font-size: 3em;
}
.icon-4x {
  font-size: 4em;
}
.icon-5x {
  font-size: 5em;
}
.icon-fw {
  width: 1.28571429em;
  text-align: center;
}
.icon-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.icon-ul > li {
  position: relative;
}
.icon-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.icon-li.icon-lg {
  left: -1.85714286em;
}
.icon-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.icon.pull-left {
  margin-right: .3em;
}
.icon.pull-right {
  margin-left: .3em;
}
.icon-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.icon-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.icon-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.icon-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.icon-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.icon-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.icon-stack-1x,
.icon-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.icon-stack-1x {
  line-height: inherit;
}
.icon-stack-2x {
  font-size: 2em;
}
.icon-inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.icon-glass:before {
  content: "\f000";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-film:before {
  content: "\f008";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-check:before {
  content: "\f00c";
}
.icon-times:before {
  content: "\f00d";
}
.icon-search-plus:before {
  content: "\f00e";
}
.icon-search-minus:before {
  content: "\f010";
}
.icon-power-off:before {
  content: "\f011";
}
.icon-signal:before {
  content: "\f012";
}
.icon-gear:before,
.icon-cog:before {
  content: "\f013";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-file-o:before {
  content: "\f016";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-road:before {
  content: "\f018";
}
.icon-download:before {
  content: "\f019";
}
.icon-arrow-circle-o-down:before {
  content: "\f01a";
}
.icon-arrow-circle-o-up:before {
  content: "\f01b";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-play-circle-o:before {
  content: "\f01d";
}
.icon-rotate-right:before,
.icon-repeat:before {
  content: "\f01e";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-lock:before {
  content: "\f023";
}
.icon-flag:before {
  content: "\f024";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-print:before {
  content: "\f02f";
}
.icon-camera:before {
  content: "\f030";
}
.icon-font:before {
  content: "\f031";
}
.icon-bold:before {
  content: "\f032";
}
.icon-italic:before {
  content: "\f033";
}
.icon-text-height:before {
  content: "\f034";
}
.icon-text-width:before {
  content: "\f035";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-dedent:before,
.icon-outdent:before {
  content: "\f03b";
}
.icon-indent:before {
  content: "\f03c";
}
.icon-video-camera:before {
  content: "\f03d";
}
.icon-picture-o:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-tint:before {
  content: "\f043";
}
.icon-edit:before,
.icon-pencil-square-o:before {
  content: "\f044";
}
.icon-share-square-o:before {
  content: "\f045";
}
.icon-check-square-o:before {
  content: "\f046";
}
.icon-arrows:before {
  content: "\f047";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-eject:before {
  content: "\f052";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-circle:before {
  content: "\f055";
}
.icon-minus-circle:before {
  content: "\f056";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-question-circle:before {
  content: "\f059";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-crosshairs:before {
  content: "\f05b";
}
.icon-times-circle-o:before {
  content: "\f05c";
}
.icon-check-circle-o:before {
  content: "\f05d";
}
.icon-ban:before {
  content: "\f05e";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-mail-forward:before,
.icon-share:before {
  content: "\f064";
}
.icon-expand:before {
  content: "\f065";
}
.icon-compress:before {
  content: "\f066";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-exclamation-circle:before {
  content: "\f06a";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-eye-slash:before {
  content: "\f070";
}
.icon-warning:before,
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-random:before {
  content: "\f074";
}
.icon-comment:before {
  content: "\f075";
}
.icon-magnet:before {
  content: "\f076";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-arrows-v:before {
  content: "\f07d";
}
.icon-arrows-h:before {
  content: "\f07e";
}
.icon-bar-chart-o:before {
  content: "\f080";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-key:before {
  content: "\f084";
}
.icon-gears:before,
.icon-cogs:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-thumbs-o-down:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-sign-out:before {
  content: "\f08b";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-thumb-tack:before {
  content: "\f08d";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-sign-in:before {
  content: "\f090";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-github-square:before {
  content: "\f092";
}
.icon-upload:before {
  content: "\f093";
}
.icon-lemon-o:before {
  content: "\f094";
}
.icon-phone:before {
  content: "\f095";
}
.icon-square-o:before {
  content: "\f096";
}
.icon-bookmark-o:before {
  content: "\f097";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-hdd-o:before {
  content: "\f0a0";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-bell:before {
  content: "\f0f3";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-hand-o-right:before {
  content: "\f0a4";
}
.icon-hand-o-left:before {
  content: "\f0a5";
}
.icon-hand-o-up:before {
  content: "\f0a6";
}
.icon-hand-o-down:before {
  content: "\f0a7";
}
.icon-arrow-circle-left:before {
  content: "\f0a8";
}
.icon-arrow-circle-right:before {
  content: "\f0a9";
}
.icon-arrow-circle-up:before {
  content: "\f0aa";
}
.icon-arrow-circle-down:before {
  content: "\f0ab";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-arrows-alt:before {
  content: "\f0b2";
}
.icon-group:before,
.icon-users:before {
  content: "\f0c0";
}
.icon-chain:before,
.icon-link:before {
  content: "\f0c1";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-flask:before {
  content: "\f0c3";
}
.icon-cut:before,
.icon-scissors:before {
  content: "\f0c4";
}
.icon-copy:before,
.icon-files-o:before {
  content: "\f0c5";
}
.icon-paperclip:before {
  content: "\f0c6";
}
.icon-save:before,
.icon-floppy-o:before {
  content: "\f0c7";
}
.icon-square:before {
  content: "\f0c8";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-strikethrough:before {
  content: "\f0cc";
}
.icon-underline:before {
  content: "\f0cd";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-pinterest-square:before {
  content: "\f0d3";
}
.icon-google-plus-square:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-columns:before {
  content: "\f0db";
}
.icon-unsorted:before,
.icon-sort:before {
  content: "\f0dc";
}
.icon-sort-down:before,
.icon-sort-asc:before {
  content: "\f0dd";
}
.icon-sort-up:before,
.icon-sort-desc:before {
  content: "\f0de";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-rotate-left:before,
.icon-undo:before {
  content: "\f0e2";
}
.icon-legal:before,
.icon-gavel:before {
  content: "\f0e3";
}
.icon-dashboard:before,
.icon-tachometer:before {
  content: "\f0e4";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-flash:before,
.icon-bolt:before {
  content: "\f0e7";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-paste:before,
.icon-clipboard:before {
  content: "\f0ea";
}
.icon-lightbulb-o:before {
  content: "\f0eb";
}
.icon-exchange:before {
  content: "\f0ec";
}
.icon-cloud-download:before {
  content: "\f0ed";
}
.icon-cloud-upload:before {
  content: "\f0ee";
}
.icon-user-md:before {
  content: "\f0f0";
}
.icon-stethoscope:before {
  content: "\f0f1";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-coffee:before {
  content: "\f0f4";
}
.icon-cutlery:before {
  content: "\f0f5";
}
.icon-file-text-o:before {
  content: "\f0f6";
}
.icon-building-o:before {
  content: "\f0f7";
}
.icon-hospital-o:before {
  content: "\f0f8";
}
.icon-ambulance:before {
  content: "\f0f9";
}
.icon-medkit:before {
  content: "\f0fa";
}
.icon-fighter-jet:before {
  content: "\f0fb";
}
.icon-beer:before {
  content: "\f0fc";
}
.icon-h-square:before {
  content: "\f0fd";
}
.icon-plus-square:before {
  content: "\f0fe";
}
.icon-angle-double-left:before {
  content: "\f100";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-double-up:before {
  content: "\f102";
}
.icon-angle-double-down:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-tablet:before {
  content: "\f10a";
}
.icon-mobile-phone:before,
.icon-mobile:before {
  content: "\f10b";
}
.icon-circle-o:before {
  content: "\f10c";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-spinner:before {
  content: "\f110";
}
.icon-circle:before {
  content: "\f111";
}
.icon-mail-reply:before,
.icon-reply:before {
  content: "\f112";
}
.icon-github-alt:before {
  content: "\f113";
}
.icon-folder-o:before {
  content: "\f114";
}
.icon-folder-open-o:before {
  content: "\f115";
}
.icon-smile-o:before {
  content: "\f118";
}
.icon-frown-o:before {
  content: "\f119";
}
.icon-meh-o:before {
  content: "\f11a";
}
.icon-gamepad:before {
  content: "\f11b";
}
.icon-keyboard-o:before {
  content: "\f11c";
}
.icon-flag-o:before {
  content: "\f11d";
}
.icon-flag-checkered:before {
  content: "\f11e";
}
.icon-terminal:before {
  content: "\f120";
}
.icon-code:before {
  content: "\f121";
}
.icon-reply-all:before {
  content: "\f122";
}
.icon-mail-reply-all:before {
  content: "\f122";
}
.icon-star-half-empty:before,
.icon-star-half-full:before,
.icon-star-half-o:before {
  content: "\f123";
}
.icon-location-arrow:before {
  content: "\f124";
}
.icon-crop:before {
  content: "\f125";
}
.icon-code-fork:before {
  content: "\f126";
}
.icon-unlink:before,
.icon-chain-broken:before {
  content: "\f127";
}
.icon-question:before {
  content: "\f128";
}
.icon-info:before {
  content: "\f129";
}
.icon-exclamation:before {
  content: "\f12a";
}
.icon-superscript:before {
  content: "\f12b";
}
.icon-subscript:before {
  content: "\f12c";
}
.icon-eraser:before {
  content: "\f12d";
}
.icon-puzzle-piece:before {
  content: "\f12e";
}
.icon-microphone:before {
  content: "\f130";
}
.icon-microphone-slash:before {
  content: "\f131";
}
.icon-shield:before {
  content: "\f132";
}
.icon-calendar-o:before {
  content: "\f133";
}
.icon-fire-extinguisher:before {
  content: "\f134";
}
.icon-rocket:before {
  content: "\f135";
}
.icon-maxcdn:before {
  content: "\f136";
}
.icon-chevron-circle-left:before {
  content: "\f137";
}
.icon-chevron-circle-right:before {
  content: "\f138";
}
.icon-chevron-circle-up:before {
  content: "\f139";
}
.icon-chevron-circle-down:before {
  content: "\f13a";
}
.icon-html5:before {
  content: "\f13b";
}
.icon-css3:before {
  content: "\f13c";
}
.icon-anchor:before {
  content: "\f13d";
}
.icon-unlock-alt:before {
  content: "\f13e";
}
.icon-bullseye:before {
  content: "\f140";
}
.icon-ellipsis-h:before {
  content: "\f141";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-rss-square:before {
  content: "\f143";
}
.icon-play-circle:before {
  content: "\f144";
}
.icon-ticket:before {
  content: "\f145";
}
.icon-minus-square:before {
  content: "\f146";
}
.icon-minus-square-o:before {
  content: "\f147";
}
.icon-level-up:before {
  content: "\f148";
}
.icon-level-down:before {
  content: "\f149";
}
.icon-check-square:before {
  content: "\f14a";
}
.icon-pencil-square:before {
  content: "\f14b";
}
.icon-external-link-square:before {
  content: "\f14c";
}
.icon-share-square:before {
  content: "\f14d";
}
.icon-compass:before {
  content: "\f14e";
}
.icon-toggle-down:before,
.icon-caret-square-o-down:before {
  content: "\f150";
}
.icon-toggle-up:before,
.icon-caret-square-o-up:before {
  content: "\f151";
}
.icon-toggle-right:before,
.icon-caret-square-o-right:before {
  content: "\f152";
}
.icon-euro:before,
.icon-eur:before {
  content: "\f153";
}
.icon-gbp:before {
  content: "\f154";
}
.icon-dollar:before,
.icon-usd:before {
  content: "\f155";
}
.icon-rupee:before,
.icon-inr:before {
  content: "\f156";
}
.icon-cny:before,
.icon-rmb:before,
.icon-yen:before,
.icon-jpy:before {
  content: "\f157";
}
.icon-ruble:before,
.icon-rouble:before,
.icon-rub:before {
  content: "\f158";
}
.icon-won:before,
.icon-krw:before {
  content: "\f159";
}
.icon-bitcoin:before,
.icon-btc:before {
  content: "\f15a";
}
.icon-file:before {
  content: "\f15b";
}
.icon-file-text:before {
  content: "\f15c";
}
.icon-sort-alpha-asc:before {
  content: "\f15d";
}
.icon-sort-alpha-desc:before {
  content: "\f15e";
}
.icon-sort-amount-asc:before {
  content: "\f160";
}
.icon-sort-amount-desc:before {
  content: "\f161";
}
.icon-sort-numeric-asc:before {
  content: "\f162";
}
.icon-sort-numeric-desc:before {
  content: "\f163";
}
.icon-thumbs-up:before {
  content: "\f164";
}
.icon-thumbs-down:before {
  content: "\f165";
}
.icon-youtube-square:before {
  content: "\f166";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-xing:before {
  content: "\f168";
}
.icon-xing-square:before {
  content: "\f169";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-dropbox:before {
  content: "\f16b";
}
.icon-stack-overflow:before {
  content: "\f16c";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-flickr:before {
  content: "\f16e";
}
.icon-adn:before {
  content: "\f170";
}
.icon-bitbucket:before {
  content: "\f171";
}
.icon-bitbucket-square:before {
  content: "\f172";
}
.icon-tumblr:before {
  content: "\f173";
}
.icon-tumblr-square:before {
  content: "\f174";
}
.icon-long-arrow-down:before {
  content: "\f175";
}
.icon-long-arrow-up:before {
  content: "\f176";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-apple:before {
  content: "\f179";
}
.icon-windows:before {
  content: "\f17a";
}
.icon-android:before {
  content: "\f17b";
}
.icon-linux:before {
  content: "\f17c";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-skype:before {
  content: "\f17e";
}
.icon-foursquare:before {
  content: "\f180";
}
.icon-trello:before {
  content: "\f181";
}
.icon-female:before {
  content: "\f182";
}
.icon-male:before {
  content: "\f183";
}
.icon-gittip:before {
  content: "\f184";
}
.icon-sun-o:before {
  content: "\f185";
}
.icon-moon-o:before {
  content: "\f186";
}
.icon-archive:before {
  content: "\f187";
}
.icon-bug:before {
  content: "\f188";
}
.icon-vk:before {
  content: "\f189";
}
.icon-weibo:before {
  content: "\f18a";
}
.icon-renren:before {
  content: "\f18b";
}
.icon-pagelines:before {
  content: "\f18c";
}
.icon-stack-exchange:before {
  content: "\f18d";
}
.icon-arrow-circle-o-right:before {
  content: "\f18e";
}
.icon-arrow-circle-o-left:before {
  content: "\f190";
}
.icon-toggle-left:before,
.icon-caret-square-o-left:before {
  content: "\f191";
}
.icon-dot-circle-o:before {
  content: "\f192";
}
.icon-wheelchair:before {
  content: "\f193";
}
.icon-vimeo-square:before {
  content: "\f194";
}
.icon-turkish-lira:before,
.icon-try:before {
  content: "\f195";
}
.icon-plus-square-o:before {
  content: "\f196";
}
/* =============================================================================
   Imports
   ========================================================================== */
.ac-overlay {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99998;
  opacity: 0;
  cursor: wait;
}
.ac-container {
  box-sizing: border-box;
  font-family: 'American Typewriter', 'Courier New', Courier, Monaco, mono;
  width: 360px;
  position: fixed;
  padding: 20px 20px 30px 20px;
  background: #fff;
  z-index: 99999;
  opacity: 0;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #000;
  font-weight: normal;
}
.ac-container h2 {
  box-sizing: border-box;
  margin: 0 0 14px 0;
  font-size: 26px;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 11px;
  font-family: 'Brothers', sans-serif;
}
.ac-container h3 {
  box-sizing: border-box;
  color: #649D09;
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 26px;
  font-family: 'Brothers', sans-serif;
}
.ac-container p {
  box-sizing: border-box;
  margin: 0 0 20px 0;
  font-size: 14px;
  color: #959595;
  line-height: 20px;
}
.ac-container p strong {
  color: #FF1F1F;
}
.ac-container select,
.ac-container input {
  box-sizing: border-box;
  color: #555;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  margin-right: 5px;
  border: 1px solid #ccc;
}
.ac-container input.day {
  box-sizing: border-box;
  width: 45px;
  height: 28px;
}
.ac-container input.year {
  box-sizing: border-box;
  width: 70px;
  height: 28px;
}
.ac-container select {
  box-sizing: border-box;
  height: 28px;
  padding-left: 4px;
}
.ac-container button {
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 4px 10px 4px 10px;
  font-size: 12px;
  line-height: 1.5;
  width: 84px;
  background: #8EB908;
  color: #fff;
  text-shadow: 1px 1px 0 #84A51D;
}
.ac-container button:hover {
  box-sizing: border-box;
  background: #82A711;
}
.ac-container .errors {
  box-sizing: border-box;
  margin: 0 0 20px 0;
  font-size: 12px;
  line-height: 18px;
  color: #FF1F1F;
}
.ac-container .errors ul,
.ac-container .errors li {
  box-sizing: border-box;
  padding: 0 0 3px 0;
  margin: 0 0 0 0;
  list-style: none;
}
.ac-container .errors li span {
  box-sizing: border-box;
  font-size: 9px;
  background: #ebebeb;
  border: 1px solid #ccc;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  display: inline-block;
  color: #FF1F1F;
  font-weight: bold;
  text-align: center;
  margin-right: 5px;
  line-height: 13px;
  position: relative;
  top: -2px;
  text-shadow: 1px 1px 0 #fff;
}
.ac-container .fields {
  box-sizing: border-box;
  clear: both;
  margin: 10px 0 10px 0;
}
@media (max-width: 500px) {
  .ac-container {
    box-sizing: border-box;
    width: auto;
    margin-right: 20px;
    margin-left: 1px;
  }
  .ac-container select,
  .ac-container input.day,
  .ac-container input.year {
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
    width: 100%;
  }
  .ac-container button {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
}
/* =============================================================================
   Layout Code
   ========================================================================== */
/*
 * Authors: Quinton Jason @quintonjasonjr
 *
 * --------------
 *
 * Based on Kube
 * Detailed information about this CSS: http://imperavi.com/kube/
 *


/* Fonts ===================================================================== */
/* ==|== CSS Styles, IDs & Elements ===================================================== */
body {
  position: relative;
}
.thanks-html {
  height: 100%;
  width: 100%;
}
.thank-you-body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(img/header-bg.jpg);
  background-size: cover;
}
.thank-you-body header {
  background: none;
}
#verify,
header {
  background-image: url(img/header-bg.jpg);
  background-size: cover;
}
#verify h1.brand,
header h1.brand {
  font-size: 9.5em;
  line-height: .9;
  padding: .2em 0;
  color: rgba(255, 255, 255, 0.4);
}
#verify .icon,
header .icon {
  width: 32px;
  height: 32px;
  font-size: 1.5em;
  border-radius: 50%;
  padding-top: 5px;
}
#verify .subhead,
header .subhead {
  font-size: 3.35em;
}
#verify h2 .headlines,
header h2 .headlines {
  font-size: 4em;
}
#verify .btn,
header .btn {
  font-size: 1.1em;
  position: relative;
  margin-bottom: 1em;
}
#verify {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(img/header-bg.jpg);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
#verify #headline-container {
  margin: 0;
}
#header-divider {
  width: 82%;
  height: auto;
  margin-bottom: .7em;
}
#header-callout a.gold-bg {
  box-shadow: 0 0 10px #1b1b1b;
}
#header-social {
  margin: 1em;
}
#headline-container {
  margin-top: 7em;
  text-shadow: 0 0 10px #1b1b1b;
}
#headline-container .subhead {
  font-size: 5.5em;
  line-height: 1;
}
#headline-container .subhead.verify {
  font-size: 3.5em;
  overflow: visible;
}
#headline-container .headlines {
  font-size: 6.5em;
}
.list-flat li {
  display: inline-block;
}
#who {
  background-image: url(img/gold-bg.jpg);
  background-size: cover;
}
#who row {
  border: 2px solid #f9f3e9;
}
#who section {
  padding: 3em 0;
}
#who .subhead {
  font-size: 3em;
  line-height: 1;
}
#slogan-wrapper {
  background-image: url(img/mug-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45%;
}
#slogan {
  padding: 6em 0;
}
#slogan .headlines {
  font-size: 2em;
}
.gold-bg .icon.off-white,
.btn.gold-bg,
.icon.gold-bg {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.gold-bg .icon.off-white:hover,
.btn.gold-bg:hover,
.icon.gold-bg:hover,
.gold-bg .icon.off-white:focus,
.btn.gold-bg:focus,
.icon.gold-bg:focus {
  background-color: #88712e;
  color: #f9f3e9;
}
.gold-bg .icon.off-white[href="#who"],
.btn.gold-bg[href="#who"],
.icon.gold-bg[href="#who"] {
  margin-right: 1em;
}
#company-info {
  padding: 2em 2em 2em 1em;
}
#brand {
  background-image: url(img/white-wash-bg.jpg);
  background-size: cover;
}
#brand .brand {
  text-indent: -5000px;
  font-size: 0;
  width: 220px;
  height: 220px;
  position: relative;
  top: -71px;
  left: 50%;
  margin-left: -110px;
  background: linear-gradient(#faf3e9, #faf3e9, rgba(250, 243, 233, 0));
  border-radius: 50%;
}
#brand .brand a {
  background-image: url(img/socraft-logo.svg);
  background-repeat: no-repeat;
  width: 80%;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-position: center;
}
#brand .replace .headlines {
  width: 80%;
  margin: 1em auto;
  line-height: 1.4;
  font-size: 140%;
  letter-spacing: 0;
}
#contact_form input {
  background: #dedbd0;
}
#footer-p-mobile {
  display: none;
}
#footer-wrapper {
  background-image: url(img/footer-bg.jpg);
  background-size: cover;
}
footer .headlines {
  line-height: 1;
  font-size: 140%;
  letter-spacing: 0;
}
footer row {
  padding: 2em 0;
}
footer img {
  max-height: 125px;
}
footer .list-flat a {
  display: block;
  border-radius: 50%;
}
footer [cols="6"] {
  padding: 0 5em;
}
footer .icon {
  width: 32px;
  height: 32px;
  font-size: 1.5em;
  border-radius: 50%;
  padding-top: 5px;
}
footer .btn {
  font-family: 'American Typewriter', 'Courier New', Courier, Monaco, mono;
}
footer .blue-bg {
  width: 46%;
  min-width: 350px;
  margin: 0 auto;
}
footer .blue-bg p.headlines {
  padding: .5em;
  font-size: 1.5em;
}
footer .btn-append {
  border: 1px solid #303748;
}
footer img.inline-block {
  max-height: 11px;
  max-width: 22px;
}
#mailing-button:hover,
#mailing-button:focus {
  color: #f9f3e9;
  background: #1c2029;
}
#footer-cheers li:not(:last-child) {
  margin-right: .7em;
}
#back-to-top {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 5;
}
#back-to-top a {
  display: block;
  padding: 1em;
}
#back-to-top .icon {
  font-size: 1.5em;
}
#verify-button {
  background-color: #b99a3f;
}
#verify-button:hover {
  background-color: #88712e;
}
#verify-success {
  color: #b99a3f;
}
/* ==|== Custom LESS Variables ===================================================== */
/* ==|== Custom LESS Helpers ===================================================== */
.headlines {
  font-family: 'Brothers', sans-serif;
  line-height: .9;
  letter-spacing: .05em;
}
.subhead {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}
.bodycopy {
  font-family: 'American Typewriter', 'Courier New', Courier, Monaco, mono;
  font-weight: 400;
}
.no-margin {
  margin: 0;
}
.margin-bottom {
  margin: 1.5em;
}
.no-padding {
  padding: 0;
}
.upper {
  text-transform: uppercase;
}
.centered {
  text-align: center;
}
.italic {
  font-style: italic;
}
.no-bull {
  list-style: none;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.inline-block {
  display: inline-block;
  vertical-align: middle;
}
.off-white {
  color: #f9f3e9;
}
.gold {
  color: #b99a3f;
}
.dark-blue {
  color: #303748;
}
.gold-bg {
  background-color: #b99a3f;
}
.off-white-bg {
  background-color: #f9f3e9;
}
.blue-bg {
  background-color: #303748;
}
.ribbon-bg {
  background: transparent;
  background-image: url('img/clipped-button.svg');
  background-size: cover;
  background-position: center;
  padding-bottom: 25px;
  padding-left: 42px;
}
.ribbon-bg:hover,
.ribbon-bg:focus {
  color: #f9f3e9;
  background-color: transparent;
}
.content-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
.verify {
  overflow: hidden;
}
.border-right {
  border-right: 2px solid #f9f3e9;
}
@media only screen and (max-width:768px) {
  .border-right {
    border-right: none;
    border-bottom: 2px solid #f9f3e9;
  }
}
.blue-border-right {
  border-right: 2px solid #303748;
}
.divider {
  margin-bottom: 1.5em;
}
.no-bg {
  background: none;
}
.replace {
  margin-top: -7.5em;
}
.big-margin {
  margin-bottom: 5em;
}
.desktop-hidden {
  display: none;
}
@media only screen and (max-width:768px) {
  .desktop-hidden {
    display: block;
  }
}
.mobile-hidden {
  display: block;
}
@media only screen and (max-width:768px) {
  .mobile-hidden {
    display: none;
  }
}
.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* ==|== Responsive Styles ===================================================== */
@media only screen and (max-width:960px) {
  #headline-container .subhead {
    font-size: 4.5em;
  }
  #headline-container .headlines {
    font-size: 5.5em;
  }
  #header-callout a.gold-bg {
    margin: 0 auto 1em;
  }
  footer .blue-bg {
    width: 60%;
  }
}
@media only screen and (max-width:768px) {
  #header-callout {
    margin-bottom: 6em;
  }
  #who row {
    margin: 0 2em;
  }
  #slogan-wrapper {
    margin: 0;
  }
  #company-info {
    margin: 0;
  }
  #footer-p-desktop {
    display: none;
  }
  #footer-p-mobile {
    display: inline-block;
  }
  #back-to-top {
    display: none !important;
  }
}
@media only screen and (max-width:480px) {
  #headline-container .subhead {
    font-size: 4em;
  }
  #headline-container .headlines {
    font-size: 4.5em;
  }
  #who row {
    margin: 0 1em;
  }
  footer [cols="6"] {
    padding: 0 2em;
  }
  footer .blue-bg {
    min-width: 100%;
  }
}
